h1
{
  color: red;
  background-color: #000000;
}
#chessboard {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.square {
  width: 50px;
  height: 50px;
}
.white {
  background-color: #e2efde;
}

.black {
  background-color: #9b7e46;
}
img{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}